<!DOCTYPE html>
<html lang="en" ng-app="myFirstApp">

<head>
    <meta charset="UTF-8">
    <title>angularStepbyStep</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body>
  <!--   <div class="container" ng-controller="MyFirstController">
    <input type="number" ng-model="op1">
    <input type="number" ng-model="op2">
        <h1>{{ sum() }}</h1>
    </div>  -->

    <div class="container" ng-controller="MySecondController">
    <ul>
      <li ng-repeat="name in students">{{name}}</li>
    </ul>
    </div> 
</body>


<script src="app.js"></script>

</html>
